type project
title
    DoctoralSurvey
owners
    Jeremy M. Abbott
authors 
    Jeremy M. Abbott
projectUrl
    http://github.com/jeremyabbott/DoctoralSurvey
iconUrl
    https://raw.githubusercontent.com/jeremyabbott/DoctoralSurvey/master/docs/files/img/logo.png
licenseUrl
    http://github.com/jeremyabbott/DoctoralSurvey/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    
description
    Description not set


